// 提供全局变量 使用 

// 左侧菜单的宽度
$base-menus-width: 260px;
// 左侧菜单的背景颜色
$base-menus-backgroundcolor: #00152b;

// 右侧导航的高度
$base-tabbar-height : 70px;

// 左侧菜单logo高度的设置
$base-menu-logo-height: 50px;

// 左侧菜单logo右侧的字体的大小
$base-menu-logo-font: 20px;
// 左侧菜单收起来之后的宽度
$base-menu-min-width : 50px;